header {
  background: white;
}

.Menüleiste{
  background-color: rgb(206, 162, 82);
  display: flex;
  justify-content: baseline;
}

nav ul{
  list-style: none;
  border: none;
}

h1 {
  color: #a3b18a;
  font-family: sans-serif;
  text-align: center;
}

.cover {
  width: 630px;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  opacity: 1;
}

p {
  font-family: sans-serif;
  text-align: center;
}

ul {
  font-family: sans-serif;
  border-style: solid;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50;
  padding-right: 50px;
  border-width: 10px;
  border-color: white;
}

img {
  width: 100%;
  height: auto;
}

.impressions img:hover {
  opacity: 0.7;
}

body {
  background-color: whitesmoke;
}

a {
  color: #588157;
  font-family: sans-serif;
  position: absolute;
  left: 70%;
  font-size: 20px;
  padding: 10px;
  background: white;
}

footer {
  font-family: sans-serif;
  text-align: right;
  background: white;
  margin-top: 3%;
}

.bold {
  font-weight: bold;
  font-size: 20px;
}

.map{
  width: 500px;
  height: 300px;
}